* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  background-color: #fff;
  color: rgb(39, 39, 39);
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* NAVBAR*/

#navbar {
  font: normal normal bold 18px/29px Roboto;
  letter-spacing: -0.09px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-top: 53px;
}

#navbar li {
  float: left;
  margin-right: 0;
  margin-right: 75px;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li a {
  text-decoration: none;
  text-align: center;
  display: block;
  letter-spacing: -0.09px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
}
.container1 {
  padding: 0;
  margin: 0;
  width: 1478px;
}

.navbar.container1 {
  margin-bottom: 61px;
}

.navbar img {
  margin-left: 144px;
  margin-top: 47px;
  width: 151px;
  height: 33px;
}

.slick-dots {
  list-style-type: none;
  display: inline-block;
}

.slick-prev:before,
.slick-next:before {
  color: #09529b !important;
}

.slide {
  position: relative;
}

.text {
  position: absolute;
  left: 0;
  top: 0;
}

.text-h1 {
  text-align: left;
  font: normal normal normal 60px/90px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
  margin-left: 251px;
  width: 70%;
}
.text-h2 {
  text-align: left;
  font: normal normal normal 30px/90px Open Sans;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 0.75;
  margin: 0;
  padding: 0;
  margin-left: 251.5px;
  margin-top: 216px;
}

.btn {
  background-color: #22a8e6;
  color: #fff;
  position: absolute;
  font-size: 30px;
  border-radius: 5px;
  text-decoration: none;
  border-left: 40px solid #22a8e6;
  border-right: 40px solid #22a8e6;
  border-top: 15px solid #22a8e6;
  border-bottom: 15px solid #22a8e6;
  display: inline-block;
  margin-left: 242px;
  margin-bottom: 134px;
  margin-top: 70px;
}

.steps {
  height: 283px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 119px;
}

.steps img {
  width: 388px;
  height: 283px;
}

.steps-box {
  position: relative;
  /* width: 270px; */
}

/* .steps-box:not(:last-child) {
  margin-right: 20px;
} */

.package-text {
  position: absolute;
  color: #f2f2f2;
  width: 388px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}

.btn1,
.btn2,
.btn3 {
  text-decoration: none;
  color: #fff;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.btn1 {
  background: var(--unnamed-color-ff6c2c) 0% 0% no-repeat padding-box;
  background: #ff6c2c 0% 0% no-repeat padding-box;
  opacity: 1;
}

.btn2 {
  background: #945b9f 0% 0% no-repeat padding-box;
  opacity: 1;
}

.btn3 {
  background: #5eb6e1 0% 0% no-repeat padding-box;
  opacity: 1;
}

.about_us img {
  width: 380px;
  height: 438px;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #5eb6e1;
}

.carousel-control-prev-icon {
  background-image: url("/resources/css/img/Assets-Desktop/ios-arrow-forward.svg");
}

.carousel-control-next-icon {
  background-image: url("/resources/css/img/Assets-Desktop/ios-arrow-forward\ \(1\).svg");
}

.about_us_text {
  font: normal normal bold 15px/25px Roboto;
  letter-spacing: 6px;
  color: #ff6c2c;
}

.about_us_title {
  font: normal 40px/25px Roboto;
  letter-spacing: 0px;
  color: #292f39;
  opacity: 1;
}

.border1 {
  border: 2px solid #5eb6e1;
  width: 128px;
  display: inline-block;
}

.unique_place {
  text-align: left;
  font: normal 20px/45px Open Sans;
  letter-spacing: 0px;
  color: #ff6c2c;
  width: 100%;
  max-width: 670px;
}

.fitness_gym {
  text-align: left;
  font: normal 20px/45px Open Sans;
  letter-spacing: 0px;
  color: #9e9e9e;
  width: 100%;
  max-width: 670px;
}

.col-md-8.col-lg-8 > .btn {
  position: relative;
  margin: 0;
  margin-top: 100px;
}

.our-classes {
  padding-top: 0;
  color: white;
  margin-top: 111px;
}

.our-classes > div {
  background: #222224 0% 0% no-repeat padding-box;
  text-align: center;
}

.our-classes > div > p {
  margin: 0 50px 50px 50px;
  text-align: center;
  font: normal normal normal 20px/45px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}

.our-classes h1 {
  padding-top: 88px;
}

.Class-photo {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.Class-photo img {
  width: 739px;
  height: 499px;
  /* transform: scale(1.15);
  opacity: 0.7; */
}

.Class-text {
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  background: #13191a 0% 0% no-repeat padding-box;
  opacity: 0.58;
  height: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classes-showcase {
  list-style: none;
  width: 100%;
}

.classes-showcase li {
  display: block;
  float: left;
  width: 50%;
}

.contactus {
  background: #181a1f 0% 0% no-repeat padding-box;
  color: white;
  text-align: center;
  max-height: 1478px;
  padding-top: 42px;
  padding-bottom: 50px;
}

.myForm {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.myForm input {
  background: none;
  color: #bbbbbb;
  text-transform: capitalize;
  opacity: 0.8;
  text-align: center;
  border: 1px solid #5eb6e1;
  border-radius: 2px;
  max-height: 63px;
  max-width: 590px;
  width: 100%;
  height: 100%;
}

.myForm textarea {
  border: 1px solid #5eb6e1;
  border-radius: 2px;
  background: none;
  color: #bbbbbb;
  max-width: 1196px;
  max-height: 188px;
  width: 100%;
  height: 188px;
}

.myForm input:first-child {
  margin-right: 20px;
}

.myForm div:not(:last-child) {
  margin-bottom: 30px;
}

.submit > button {
  max-width: 566px;
  max-height: 63px;
  height: 63px;
  width: 100%;
  background: #5eb6e1 0% 0% no-repeat padding-box;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.faq {
  margin-top: 161px;
  margin-right: 140px;
  margin-left: 140px;
  text-align: center;
  color: #181a1f;
}

.faq > .border1 {
  margin-bottom: 100px;
}

.slideshow-container {
  width: 1478px;
  height: 731px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 34px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.team > h1 {
  margin-left: 552px;
  width: 414px;
  height: 79px;
  text-align: left;
  letter-spacing: 0px;
  color: #292f39;
  opacity: 1;
  margin-top: 99px;
}

.team > p {
  top: 4065px;
  margin-left: 186px;
  width: 1107px;
  height: 142px;
  text-align: center;
  letter-spacing: 0px;
  color: #292f39;
  opacity: 0.8;
  margin-bottom: -62px;
}

.mySlides1 {
  display: flex;
  justify-content: center;
}

.mySlides-first {
  /* margin-right: 35px; */
  height: 585px;
  /* width: 460px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.mySlides-first > div {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlides-first > img {
  margin: auto;
}

.slick-arrow {
  z-index: 1001;
  width: 40px !important;
  height: 40px !important;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev:before,
.slick-next:before {
  color: #5eb6e1 !important;
  font-size: 40px;
}

.accordion {
  background: none;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 2px;
  margin-bottom: 142px;
  width: 1196px;
}

.accordion:not(:last-child) {
  margin-bottom: 25px;
}

.accordion-item {
  border: 1px solid #5eb6e1 !important;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-bottom: 25px;
}

.panel > p {
  text-align: left;
  padding-left: 20px;
}

/* footer */
.last-div1 {
  background: #19191c 0% 0% no-repeat padding-box;
  height: 90px;
}

.last-div1 img {
  top: 6601px;
  margin-left: 143px;
  width: 200px;
  height: 42px;
  margin-top: 22px;
}

.last-div2 {
  top: 6663px;
  left: 0px;
  width: 1478px;
  height: 59px;
  background: #5eb6e1 0% 0% no-repeat padding-box;
  opacity: 1;
}

.last-div3 {
  background: #24272e 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 65px;
}

.last-div3 > p {
  letter-spacing: 0.85px;
  color: #f6f7fb;
  opacity: 0.61;
  text-align: center;
}

@media (max-width: 390px) {
  .container1 {
    width: 375px;
  }

  #navbar li {
    margin-right: 26px;
  }

  #navbar {
    margin-left: 23px;
  }
  .navbar img {
    margin-left: 37px;
  }
}
